* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
	width: 100%;
	max-width: 1170px;
	padding: 0 12px;
	margin: 0 auto;
}

.btn {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	padding: 10px 15px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s; /* Плавный переход для фона и трансформации */
}

.btn-outline {
	background-color: transparent;
}

.btn-outline:hover {
	color: rgb(37, 110, 235);
	transform: scale(1.05); /* Увеличение размера при наведении */
}

.btn-primary {
	background-color: rgb(37, 110, 235);
	color: white;
	transition: background-color 0.3s, transform 0.3s; /* Плавный переход для фона и трансформации */
}

.btn-primary:hover {
	color: black;
	background-color: rgba(
		37,
		110,
		235,
		0.8
	); /* Изменение цвета фона при наведении */
	transform: scale(1.05); /* Увеличение размера при наведении */
}

.content-main__list-item {
	transition: transform 0.3s ease; /* Плавный переход */
}

.content-main__list-item:hover {
	transform: scale(1.05); /* Увеличение на 5% при наведении */
}

.content-side__list-item--title,
.content-side__list-item--text {
	font-family: 'Noto Sans Korean', sans-serif; /* Применение шрифта Noto Sans Korean */
}

.Search {
	font-family: 'Noto Sans Korean', sans-serif; /* Применение шрифта Noto Sans Korean ко всей секции */
}

.search-box input {
	font-family: 'Noto Sans Korean', sans-serif; /* Применение шрифта к полю ввода */
}

.search-btn__text {
	font-family: 'Noto Sans Korean', sans-serif; /* Применение шрифта к тексту кнопки */
}

.tele,
.content-side__footer--item,
.wats {
	transition: transform 0.3s ease; /* Плавный переход */
}

.tele:hover,
.content-side__footer--item:hover,
.wats:hover {
	transform: scale(1.1); /* Увеличение на 10% */
}

.header {
	padding-top: 30px;
	padding-bottom: 24px;
}

.heder-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.header-logo a {
	text-decoration: none;
	line-height: 28px;
	font-size: 25px;
	font-weight: 700;
	margin-left: 6px;
	cursor: pointer;
	color: rgb(10, 20, 58);
}

.header-burger {
	width: 30px;
	display: none;
}

.Search {
	margin-bottom: 45px;
}

.search-box {
	width: 100%;
	border-radius: 5px;
	background-color: rgb(37, 110, 235);
	padding: 3px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.search-box input {
	flex-grow: 1;
	padding: 14px 22px;
	border-radius: 5px;
	outline: none;
	border: none;
	width: auto;
	min-width: 0;
}

.search-btn {
	background-color: rgb(37, 110, 235);
	border: none;
	display: flex;
	align-items: center;
	width: 80px;
}

.search-btn .search-btn__text {
	margin-left: 2px;
	font-size: 16px;
	line-height: 19px;
}

.content {
	padding-bottom: 50px;
}

.content-box {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 30px;
}

.content-main {
	flex-grow: 1;
}

.content-side {
	width: 260px;
	min-width: 260px;
}

.contant-main__title {
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 25px;
	margin-top: 0;
}

.content-main__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 30px;
}

.content-main__list-item {
	width: calc((100% - 60px) / 3);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 10px;
	overflow: hidden;
	text-decoration: none;
}

.content-main__list-item--img img {
	width: 100%;
}

.content-main__list-item--title {
	margin-top: 15px;
	margin-bottom: 5px;
	font-size: 16px;
	line-height: 19px;
	color: rgb(10, 20, 58);
}

.content-main__list-item:hover .content-main__list-item--title {
	color: rgb(37, 110, 235);
}

.content-main__list-item--price {
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 10px;
	color: rgb(10, 20, 58);
}

.content-main__list-item--desk-box {
	display: flex;
	flex-direction: column;
	row-gap: 4px;
}

.content-main__list-item--desk {
	font-size: 14px;
	line-height: 16px;
	color: rgb(196, 196, 196);
}

.content-side__title {
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 23px;
	margin-top: 0;
}

.content-side__list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	gap: 25px;
	border-bottom: 1px solid rgb(229, 229, 229);
	padding-bottom: 36px;
	margin-bottom: 36px;
}

.content-side__list-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.content-side__list-item--title {
	margin-top: 7px;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 16px;
}

.content-side__list-item--text {
	font-size: 14px;
	line-height: 16px;
	margin: 0;
}

.content-side__footer {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.content-side__footer--item {
	color: rgb(196, 196, 196);
	margin: 0;
	font-size: 14px;
	line-height: 16px;
}

.content-product {
	display: flex;
	flex-grow: 1;
	gap: 30px;
}

.content-product__title,
.contant-product__price {
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 25px;
	margin-top: 0;
}

.content-product__left {
	flex-basis: 50%;
}

.content-product__right {
	flex-basis: 50%;
}

.contant-product__text {
	font-size: 14px;
	line-height: 20px;
}

.wats {
	position: fixed;
	z-index: 100;
	bottom: 20px;
	right: 20px;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
}

.tele {
	position: fixed;
	z-index: 100;
	bottom: 70px;
	right: 20px;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
}

@media (max-width: 1200px) {
	.container {
		max-width: 930px;
	}
	.content-main__list-item {
		width: calc((100% - 30px) / 2);
	}
}

.sidebar {
	position: fixed;
	top: 0;
	right: -250px; /* Скрыто за пределами экрана */
	width: 250px;
	height: 100%;
	background-color: #fff; /* Цвет фона */
	box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
	transition: right 0.3s ease; /* Плавный переход */
	z-index: 1000; /* Чтобы меню было поверх других элементов */
	padding: 20px; /* Отступы внутри меню */
}

.sidebar.active {
	right: 0; /* Показываем меню */
}

.close-btn {
	background: none;
	border: none;
	font-size: 24px;
	color: #000; /* Цвет крестика */
	cursor: pointer;
	position: absolute;
	top: 20px; /* Отступ сверху */
	right: 20px; /* Отступ справа */
}

.desktop-controls {
	display: flex; /* Отображаем кнопки на компьютере */
}

.sidebar {
	display: none; /* Скрываем боковое меню по умолчанию */
}

@media (max-width: 991px) {
	.container {
		max-width: 730px;
	}
	.content-box {
		flex-direction: column;
	}
	.content-main {
		width: 100%;
	}

	.content-side {
		width: 100%;
		min-width: none;
	}
	.content-product {
		flex-direction: column;
		width: 100%;
	}
	.content-product__left {
		border: 1px solid red;
		flex-basis: 50%;
		width: 100%;
	}

	.content-product__right {
		border: 1px solid red;
		flex-basis: 50%;
		width: 100%;
	}
}

@media (max-width: 786px) {
	.container {
		max-width: 100%;
	}
	.header-controls {
		display: none;
	}
	.header-burger {
		display: block;
	}
}
@media (max-width: 480px) {
	.content-main__list-item {
		width: 100%;
	}
}

.modal {
	display: none; /* Скрыто по умолчанию */
	position: fixed; /* Остается на месте */
	z-index: 1; /* Сверху других элементов */
	left: 0;
	top: 0;
	width: 100%; /* Полная ширина */
	height: 100%; /* Полная высота */
	background-color: rgba(0, 0, 0, 0.4); /* Черный фон с прозрачностью */
}

.modal-content {
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Ширина */
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal-content {
	width: 420px;
	background-color: transparent;
	border: 2px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(20px);
	box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
	color: #000;
	border-radius: 10px;
	padding: 30px 40px;
	overflow: hidden;
}

.modal-content h1 {
	font-size: 36px;
	text-align: center;
}

.modal-content .input-box {
	width: 100%;
	height: 50px;
	margin: 30px 0;
	position: relative;
}

.modal-content input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgb(225, 225, 225, 0.2);
	border-radius: 40px;
	font-size: 16px;
	color: #000;
	padding: 20px 45px 20px;
}

.input-box input::placeholder {
	color: #000;
}

.input-box i {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
}

.modal-content .remember {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14.5px;
	margin: -15px 0 15px;
}

.remember label {
	display: flex; /* Используем flexbox для выравнивания чекбокса и текста */
	align-items: center; /* Центрируем по вертикали */
}

.remember input[type='checkbox'] {
	margin-right: 5px; /* Отступ между чекбоксом и текстом */
}

.remember label input {
	accent-color: #000;
	margin-right: 3px;
}

.remember a {
	color: #000;
	text-decoration: none;
}

.remember a:hover {
	text-decoration: underline;
}

.modal-content .btn {
	width: 100%;
	height: 45px;
	background: #fff;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
	cursor: pointer;
	font-size: 16px;
	color: #333;
	font-weight: 600;
}

.modal-content .register-link {
	font-size: 14.5px;
	text-align: center;
	margin-top: 20px;
}

.register-link p a {
	color: #000;
	text-decoration: none;
	font-weight: 600;
}

.register-link p a:hover {
	text-decoration: underline;
}
